In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import sys

In [7]:
df = pd.read_excel('Dataset1.xlsx')
df

,Section Number,assignments,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,Points Possible,0,5.0,1.0,7.0,1.0,5.0,10.0,30.0,3.0,...,1.0,2.0,3.0,2,3.0,3.0,2.0,3.0,3.0,4.5
1,16,1,2.5,0.5,3.5,1.0,0.0,0.0,28.0,0.0,...,1.0,0.0,2.5,1,2.0,3.0,1.0,3.0,3.0,4.5
2,16,0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1,3.0,0.0,1.0,3.0,3.0,0.0
3,16,1,5.0,1.0,7.0,1.0,5.0,10.0,30.0,3.0,...,1.0,2.0,1.5,1,2.0,3.0,2.0,3.0,3.0,4.5
4,16,1,5.0,1.0,7.0,1.0,5.0,8.5,30.0,3.0,...,1.0,1.0,2.0,1,2.0,3.0,2.0,3.0,3.0,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,25,1,5.0,1.0,7.0,1.0,5.0,10.0,30.0,3.0,...,0.0,2.0,2.0,1,2.0,3.0,2.0,3.0,3.0,4.5
546,25,1,5.0,1.0,7.0,1.0,5.0,10.0,30.0,3.0,...,1.0,2.0,3.0,2,3.0,3.0,2.0,3.0,3.0,4.5
547,25,1,5.0,1.0,7.0,1.0,5.0,8.0,30.0,3.0,...,1.0,2.0,3.0,1,3.0,3.0,2.0,3.0,1.0,4.5
548,25,1,5.0,1.0,7.0,1.0,5.0,3.0,8.0,3.0,...,1.0,2.0,2.0,1,2.0,3.0,2.0,3.0,2.0,2.0
549,25,1,5.0,1.0,6.0,1.0,5.0,9.0,26.0,0.0,...,1.0,2.0,3.0,2,3.0,3.0,2.0,3.0,3.0,4.5

### Cleaning the dataset
Similar to the method Ken used. I just fixed the numbering of the columns because it used to start at index 3 for some reason. Now when the type of the assignment changes the index restarts at 1 instead of just continuing from where it left off. Also turned it into a function you can use on the datasets.

In [8]:
elements = ["assignments", "pre-lab quizzes", "notebooks", "post lab quizzes"]

def rename_cols(df, elements, current_col=None, starting_counter=1):
    column_names = {} 
    counter = starting_counter - 1

    for k in df.columns:
        if k in elements:
            if current_col != k:
                current_col = k
                counter = 1
            else:
                counter += 1
        else:
            if current_col:
                counter += 1

        new_name = f"{current_col}{counter}"
        column_names.setdefault(current_col, []).append(new_name)
        df = df.rename(columns={k: new_name})

    return df

df_renamed = rename_cols(df, elements)
df_renamed
df_renamed.shape

(550, 56)

### remove_outliers function for a specific column
Takes the given column name and converts it to numeric because some datatypes for the columns are objects. Then computes mean and standard deviation of the given column and filters the entries based on entries that are lower than 2 standard deviations from the mean.

In [9]:
def filter_outliers(df, column_name):
    df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
    mean = df[column_name].mean()
    std_dev = df[column_name].std()
    threshold = mean - 2 * std_dev

    filtered_df = df[df[column_name] >= threshold]
    return filtered_df

### Using the function
Specify the column name to get rid of scores that are 2 standard deviations below the mean. The function outputs a df so you can use the to_excel or to_csv function to convert it to a file you would like to work with.

In [10]:
df_renamed
outliers_filtered = filter_outliers(df_renamed, "assignments7")
outliers_filtered.to_excel("outliers_filtered.xlsx")

### remove_outliers_whole function for the whole dataset
If you want to clean an entire dataset, use the function below! I believe this would work for dataset1 but due to the different formatting across the various datasets you might need to change stuff up for working with 2,3 and 4. Similar to the last function but iterates through each column in the data set, computing a threshold then filters out data accordingly. The function outputs an Excel file that you can use for further analysis.

In [28]:
df_renamed

,None0,assignments1,assignments2,assignments3,assignments4,assignments5,assignments6,assignments7,assignments8,assignments9,...,post lab quizzes2,post lab quizzes3,post lab quizzes4,post lab quizzes5,post lab quizzes6,post lab quizzes7,post lab quizzes8,post lab quizzes9,post lab quizzes10,post lab quizzes11
0,Points Possible,0,5.0,1.0,7.0,1.0,5.0,10.0,30.0,3.0,...,1.0,2.0,3.0,2,3.0,3.0,2.0,3.0,3.0,4.5
1,16,1,2.5,0.5,3.5,1.0,0.0,0.0,28.0,0.0,...,1.0,0.0,2.5,1,2.0,3.0,1.0,3.0,3.0,4.5
2,16,0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,1,3.0,0.0,1.0,3.0,3.0,0.0
3,16,1,5.0,1.0,7.0,1.0,5.0,10.0,30.0,3.0,...,1.0,2.0,1.5,1,2.0,3.0,2.0,3.0,3.0,4.5
4,16,1,5.0,1.0,7.0,1.0,5.0,8.5,30.0,3.0,...,1.0,1.0,2.0,1,2.0,3.0,2.0,3.0,3.0,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,25,1,5.0,1.0,7.0,1.0,5.0,10.0,30.0,3.0,...,0.0,2.0,2.0,1,2.0,3.0,2.0,3.0,3.0,4.5
546,25,1,5.0,1.0,7.0,1.0,5.0,10.0,30.0,3.0,...,1.0,2.0,3.0,2,3.0,3.0,2.0,3.0,3.0,4.5
547,25,1,5.0,1.0,7.0,1.0,5.0,8.0,30.0,3.0,...,1.0,2.0,3.0,1,3.0,3.0,2.0,3.0,1.0,4.5
548,25,1,5.0,1.0,7.0,1.0,5.0,3.0,8.0,3.0,...,1.0,2.0,2.0,1,2.0,3.0,2.0,3.0,2.0,2.0
549,25,1,5.0,1.0,6.0,1.0,5.0,9.0,26.0,0.0,...,1.0,2.0,3.0,2,3.0,3.0,2.0,3.0,3.0,4.5

In [36]:
def replace_outliers_nan(data, columns=None, file_path='outliers_replaced.xlsx'):
    data_copy = data.copy()
    
    if columns is None:
        columns = data_copy.select_dtypes(include=['number']).columns
    
    first_row_values = {}

    for column in columns:
        first_row_values[column] = data_copy.loc[0, column]
        data_copy.at[0, column] = np.nan

        data_copy[column] = pd.to_numeric(data_copy[column], errors='coerce')
    
    for column in columns:
        mean = data_copy[column].mean()
        std = data_copy[column].std()
        threshold = mean - 2 * std
        data_copy[column] = data_copy[column].where(data_copy[column] >= threshold, other=np.nan)
    
    for column, value in first_row_values.items():
        data_copy.at[0, column] = value

    data_copy.to_excel(file_path, index=False)

outliers_replaced = replace_outliers_nan(df_renamed, file_path='outliers_replaced.xlsx')

outliers_replaced_df = pd.read_excel('outliers_replaced.xlsx')

### Applying this to dataset1

In [45]:
outliers_replaced_df.columns = outliers_replaced_df.iloc[0].values
outliers_replaced_df = outliers_replaced_df[1:]

outliers_replaced_df = outliers_replaced_df.rename(columns={outliers_replaced_df.columns[0]: 'Section'})

outliers_replaced_df.iloc[:, 1:] = outliers_replaced_df.iloc[:, 1:].apply(pd.to_numeric, errors='ignore')

nan_counts = outliers_replaced_df.groupby('Section').apply(lambda x: x.isna().sum())

entry_counts = outliers_replaced_df.groupby('Section').count()

counts_table = pd.DataFrame({
    'NaN Counts': nan_counts.sum(axis=1),  # Total NaNs per section
    'Entry Counts': entry_counts.sum(axis=1)  # Total entries per section
})

top_five_nas = counts_table.sort_values('NaN Counts', ascending=False).head(5)

print(top_five_nas)

         NaN Counts  Entry Counts
Section
14               70          1140
18               66          1254
27               53          1267
5                52          1268
6                50          1105